window.env = {
  API_KEY: "__API_KEY__",
  AUTH_DOMAIN: "__AUTH_DOMAIN__",
  DB_URL: "__DB_URL__",
  PROJECT_ID: "__PROJECT_ID__",
  STORAGE_BUCKET: "__STORAGE_BUCKET__",
  MSG_SENDER_ID: "__MSG_SENDER_ID__",
  APP_ID: "__APP_ID__"
};
